%text-style-primary {
  font-family: 'Roboto Slab', serif;
  font-weight: $font__weight--light;
  color: $color__text--primary;
}

%background {
  background: $color__background--primary;
  background-image: url("../svg/background.svg");
  background-repeat: repeat;
}

%box-model-reset {
  margin: 0;
  padding: 0;
}
