/*
* @description - centers an object with display: block
*
*/
@mixin center-block($top-margin: 0,$bot-margin: 0) {
    margin: $top-margin auto $bot-margin;
}

/*
*
* @description - sets margin and padding of a box to 0
*
*/
@mixin box-model-reset {
  margin: 0;
  padding: 0;
}

@mixin text--primary {
  font-family: $font-family--primary;
  font-weight: $font__weight--light;
  color: $color__text--primary;
}

@mixin background--primary {
  background: $color__background--primary;
  background-image: url("../svg/background.svg");
  background-repeat: repeat;
}

@mixin animation__menu-item {
  a, svg {
    color: $color__link;
    transition: 0.4s ease-out;
  }

  &:hover {
    a, svg {
      color: darken($color__link, 15%);
    }
  }
}

@mixin animation--pop-in-cascade($base_time,$finish_time, $num_e) {
  animation: pop #{$finish_time}s ease-out backwards;
  transform-origin: 50% 50%;

  @for $i from 1 through $num_e {
    &:nth-child(#{$i}) {
      animation-delay: #{$base_time * $i}s;
    }
  }
}
