.corgi {
  width: 170px;
  height: 210px;
  @include animation--pop-in-cascade(0.225,0.8,4);

  &:hover {
    use {
      @include animation--swaying;
    }
  }
}

.corgi--sable {
  color: $color__corgi--sable;
}

.corgi--red {
  color: $color__corgi--red;
}

.corgi--fawn {
  color: $color__corgi--fawn;
}

.corgi--stone {
  color: $color__corgi--stone;
}
