#logo {
  display: block;
  margin: 0 auto;

  @media #{$brk--mobile} {
    display: initial;
    margin: initial;
  }
}

.logo__text {
  &--desktop {
    display: none;
    @media #{$brk--mobile} {
      display: initial;
    }
  }
  &--mobile {
    display: initial;
    @media #{$brk--mobile} {
      display: none;
    }
  }
}
