#logo {
  display: block;
  @include center-block;

  @media #{$brk--mobile} {
    display: initial;
    margin: initial;
  }
}

.logo {
  animation: pop 1s ease-out backwards;
  transform-origin: 50% 50%;
}

.logo__text {
  &--desktop {
    display: none;
    @media #{$brk--mobile} {
      display: initial;
    }
  }
  &--mobile {
    display: initial;
    @media #{$brk--mobile} {
      display: none;
    }
  }
}
