#logo {
  @media (max-width: 424px) {
    display: block;
    margin: 0 auto;
  }
}

.logo__text {
  &--desktop {
    @media (max-width: 425px) {
      display: none;
    }
  }
  &--mobile {
    display: none;
    @media (max-width: 425px) {
      display: initial;
    }
  }
}
