.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  @include box-model-reset;

  @media #{$brk--mobile} {
    justify-content: baseline;
  }

}

.nav__item {
  padding: 10px;
  cursor: pointer;
  text-align: center;

  * {
    display: inline-block;
    vertical-align: middle;
  }

  @include animation__menu-item;
}
