//---------------------------------Base----------------------------------------

body {
  text-align: center;
  @include box-model-reset;
  @include background--primary;
  @include text--primary;
}

#container {
  @include center-block;
  max-width: em(960px);
  background: $color__background--secondary;
  height: 100%; /* new line */
  padding: 0 em(15px);
}

p {
  @include center-block(em(35px),0);
  max-width: em(350px);
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: $color__link;
  font-weight: $font__weight--ultrabold;
}

a:hover {
  color: darken($color__link, 15%);
}

header {
  padding-top: em(10px);
}

header nav {
  padding-bottom: em(50px);
  text-align: left;
}

main {
  padding-top: em(50px);
}

main h2 {
  font-size: em(28px);
}

footer {
  width: 100%;
  margin-top: em(100px);
  padding-bottom: em(30px);
  color: $color__text--secondary;
}
